body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;font-size:12px;}
ol,ul{margin:0;padding:0;list-style:none;}
a{text-decoration:none;}
img{border:none; vertical-align: top;}
form{margin:0;}
input{padding:0;margin:0;}
option{padding:0;}
textarea{resize: none;}
em,strong{font-style: normal;}
.fl{float: left;}
.fr{float: right;}
.clearFix:after{content: "";display: block;clear:both;}
body{
	padding: 20px;
}
#boxes,#boxes1,#boxes2,#boxes3{
	position: relative;
	height: 400px;
}
div{
	height: 30px;
	width: 50px;
	background: pink;
	position: absolute;
	border: 1px solid #000;
	font: 16px/30px "宋体";
	text-align: center;
}
